html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

body, main .hero {
    justify-content: center;
}

main {
    max-width: 1100px;
}

body, main, form, main .hero {
    display: flex;
}

main > * {
    flex: 1;
}

.offer p, .notice p {
    text-align: center;
}

form, main .hero {
    flex-direction: column;
}

input[type="submit"] {
    text-transform: uppercase;
    margin-top: 0.6rem;
    font-weight: 600;
    color: #fff;
    background: hsl(154, 59%, 51%);
    border-radius: 8px;
    border: none;
}

input {
    font-size: 1rem;
    padding-block: 0.9rem;
    padding-left: 1.5rem;
}

.notice {
    margin-top: 0.7rem;
}

.notice p {
    font-size: 0.7rem;
}

.title {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    color: #fff;
}

.title + p {
    font-size: 1rem;
    color: #fff;
}

.field {
    margin-block: 0.7rem;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.field:focus {
    outline: 2px solid hsl(249, 10%, 26%);
}

.offer {
    margin-bottom: 1.5rem;
    background: hsl(248, 32%, 49%);
    border-radius: 8px;
    color: #fff;
}

.offer p {
    padding-block: 1.2rem;
}

.fill {
    background: #fff;
    padding-block: 1.7rem;
    padding-inline: 1.7rem;
    border-radius: 8px;
}