html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    align-items: center;    
}

main .hero {
    justify-content: center;
}

main {
    max-width: 1100px;
    gap: 1rem;
    margin-inline: auto;
}

body, main, form, main .hero {
    display: flex;
}

main > * {
    flex: 1;
}

.offer p, .notice p {
    text-align: center;
}

form, main .hero {
    flex-direction: column;
}

input[type="submit"] {
    text-transform: uppercase;
    margin-top: 0.6rem;
    font-weight: 600;
    color: #fff;
    background: hsl(154, 59%, 51%);
    border-radius: 8px;
    border: none;
    font-weight: 500;
}

input {
    font-size: 1rem;
    padding-block: 0.9rem;
    padding-left: 1.5rem;
}

.notice {
    margin-top: 1.2rem;
}

.notice p {
    font-size: 0.7rem;
    color: hsl(246, 25%, 77%);
}

.notice p > strong {
    color: hsl(0, 100%, 74%);
}

.title {
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    color: #fff;
    font-weight: 700;
}

.title + p {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
}

.field {
    margin-block: 0.7rem;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    caret-color: hsl(248, 32%, 49%);
    color: hsl(249, 10%, 26%);
}

.field:focus {
    outline: 1px solid hsl(249, 10%, 26%);
}

.offer {
    margin-bottom: 1.5rem;
    background: hsl(248, 32%, 49%);
    border-radius: 8px;
    color: #fff;
}

.offer p {
    padding-block: 1.2rem;
}

.fill {
    background: #fff;
    padding-block: 2.5rem;
    padding-inline: 2.5rem;
    border-radius: 8px;
}

.offer, .fill, input[type="submit"] {
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.24);
}