.title {
    margin-block: 4rem;
}

.title h1 {
    font-size: 2rem;
}

.title p {
    padding-inline: 0.5rem;
    margin-top: 2rem;
}

.offer p {
    text-align: center;
    padding-inline: 4rem;
    padding-block: 1rem;
}
