html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

body, main .hero {
    justify-content: center;
}

main {
    max-width: 1100px;
}

body, main, form, main .hero {
    display: flex;
}

main > * {
    flex: 1;
}

.offer p, .notice p {
    text-align: center;
}

form, main .hero {
    flex-direction: column;
}

input[type="submit"] {
    text-transform: uppercase;
}

input {
    font-size: 1rem;
    padding-block: 0.7rem;
    padding-left: 1.5rem;
}

.notice p {
    font-size: 0.7rem;
}

.title {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.title + p {
    font-size: 1rem;
}

.field {
    margin-block: 0.7rem;
}

.offer {
    margin-bottom: 1.5rem;
}

.offer p {
    padding-block: 1.2rem;
}